.app__navbar {
  width: 100%;
  height: 80px;
  top: 0;
  position: sticky;
  z-index: 999;
  background-color: white;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(100, 100, 100, 0.3);

  .app__navbar-container {
    max-width: 70rem;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .app__navbar-left {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        a {
          color: var(--title);
        }
      }
    }

    .app__navbar-right {
      .navlinks {
        display: flex;

        .list {
          list-style-type: none;
          margin: 0 1rem;

          .listItems {
            color: var(--title);
            font-size: 1.1rem;

            &:hover {
              border-bottom: 2px solid var(--secondary-color);
            }

            span {
              border-radius: 10px;
              padding: 0.4rem 1rem;
              background-color: var(--primary-color);
              color: var(--primary-text);

              &:hover {
                background-color: var(--secondary-color);
              }
            }
          }
        }
      }
    }

    .app__navbar-mobile {
      display: none;

      .app__navbar-mobile-close {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: var(--title);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .mobile__links {
          display: block;
          list-style: none;

          li {
            margin: 1rem;
            font-family: var(--font-base);
            font-size: clamp(1rem, 1.81vw, 1.2rem);
            cursor: pointer;
            line-height: 1.5rem;

            a {
              display: block;
              text-align: right;
              color: var(--primary-text);
              margin: 1.2rem;
              cursor: pointer;

              @media (hover: hover) {
                &:hover {
                  color: var(--secondary-color);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 65em) {
  .app__navbar {
    .app__navbar-container {
      .app__navbar-right {
        display: none;
      }

      .app__navbar-mobile {
        display: flex;
      }
    }
  }
}
